### 1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a file named test.txt.

In [1]:
test1="This is a test of the emergency text system"
with open ("test.txt",'w') as tst:
    tst.write(test1)

### 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [2]:
with open('test.txt','r') as tst:
    test2=tst.read()
    
# No both are same

### 3. Create a CSV file called books.csv by using these lines:
* title,author,year
* The Weirdstone of Brisingamen,Alan Garner,1960
* Perdido Street Station,China Miéville,2000
* Thud!,Terry Pratchett,2005
* The Spellman Files,Lisa Lutz,2007
* Small Gods,Terry Pratchett,1992

In [5]:
import csv

header = ['title', 'author', 'year']
rows = [    ['The Weirdstone of Brisingamen', 'Alan Garner', 1960],
    ['Perdido Street Station', 'China Miéville', 2000],
    ['Thud!', 'Terry Pratchett', 2005],
    ['The Spellman Files', 'Lisa Lutz', 2007],
    ['Small Gods', 'Terry Pratchett', 1992]
]
with open ('books.csv','w',newline='') as book:
    writer=csv.writer(book)
    writer.writerow(header)
    writer.writerows(rows)

### 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [7]:
import sqlite3

# Connect to the database (creates the file if it does not exist)
conn = sqlite3.connect('books.db')

# Create a cursor object
cursor = conn.cursor()

# Create the books table
cursor.execute('''
CREATE TABLE IF NOT EXISTS books (
    title TEXT,
    author TEXT,
    year INTEGER
)
''')
conn.commit()
conn.close()

### 5. Read books.csv and insert its data into the book table.

In [12]:
import pandas as pd

read_books = pd.read_csv('books.csv',encoding='unicode_escape')
read_books.to_sql('books', conn, if_exists='append', index = False)

5

### 6. Select and print the title column from the book table in alphabetical order.

In [13]:
cursor.execute('select title from books order by title asc')
print(cursor.fetchall())

[('Perdido Street Station',), ('Perdido Street Station',), ('Small Gods',), ('Small Gods',), ('The Spellman Files',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('The Weirdstone of Brisingamen',), ('Thud!',), ('Thud!',)]

### 7. From the book table, select and print all columns in the order of publication.

In [15]:

cursor.execute('select title, author,year from books order by year')


df = pd.DataFrame(cursor.fetchall(), columns=['title','author','year'])
df

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1  The Weirdstone of Brisingamen      Alan Garner  1960
2                     Small Gods  Terry Pratchett  1992
3                     Small Gods  Terry Pratchett  1992
4         Perdido Street Station   China Miéville  2000
5         Perdido Street Station   China Miéville  2000
6                          Thud!  Terry Pratchett  2005
7                          Thud!  Terry Pratchett  2005
8             The Spellman Files        Lisa Lutz  2007
9             The Spellman Files        Lisa Lutz  2007

### 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [17]:
import sqlalchemy
engine = sqlalchemy.create_engine("sqlite:///books.db")
rows = engine.execute('select * from books')
for i in rows:
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

### 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ("Fester Bestertester"). Print all the fields for test.

In [20]:
!pip install redis

Requirement already satisfied: redis in c:\users\vipin\anaconda3\lib\site-packages (4.4.2)
Requirement already satisfied: async-timeout>=4.0.2 in c:\users\vipin\anaconda3\lib\site-packages (from redis) (4.0.2)

In [ ]:
import redis
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

### 10. Increment the count field of test and print it.

In [ ]:
conn.hincrby('test','count', 3)