### 1. Create a list called years_list, starting with the year of your birth, and each year thereafter untilthe year of your fifth birthday. For example, if you were born in 1980. the list would be years_list =[1980, 1981, 1982, 1983, 1984, 1985].

In [1]:
birth_year=1995
years_list=[]
for i in range(5):
    years_list.append(birth_year+i)

In [4]:
years_list

[1995, 1996, 1997, 1998, 1999]

### 2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

In [2]:
years_list[3]

1998

### 3.In the years list, which year were you the oldest?

In [6]:
#years_list[-1]
# or
max(years_list)

1999

### 4. Make a list called things with these three strings as elements:"mozzarella","cinderella","salmonella".

In [7]:
things = list(['mozzarella', 'cinderella','salmonella'])
things

['mozzarella', 'cinderella', 'salmonella']

### 5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

In [8]:
for i in things:
    print(i.capitalize())
things
#Capitalize() will not update the list original values.

Mozzarella
Cinderella
Salmonella

['mozzarella', 'cinderella', 'salmonella']

### 6. Make a surprise list with the "elements","Groucho","Chico"and "Harpo".

In [9]:
surprise_list = ["Groucho", "Chico", "Harpo"]
surprise_list

['Groucho', 'Chico', 'Harpo']

### 7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [10]:
surprise_list[-1].lower()

'harpo'

In [17]:
surprise_list[-1][::-1].lower()

'oprah'

In [15]:
surprise_list[-1][::-1].upper()

'OPRAH'

### 8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.

In [18]:
e2f = {'dog':'chien','cat':'chat','walrus':'morse'}

### 9. Write the French word for walrus in your three-word dictionary e2f.

In [19]:
e2f['walrus']

'morse'

### 10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [23]:
f2e={}
for i in e2f.keys():
    f2e[e2f[i]]=i
f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

### 11. Print the English version of the French word chien using f2e.

In [24]:
f2e['chien']

'dog'

### 12. Make and print a set of English words from the keys in e2f.

In [26]:
set(e2f.keys())

{'cat', 'dog', 'walrus'}

### 13. Make a multilevel dictionary called life. Use these strings for the topmost keys: "animal","plants"and "other". Make the "animal" key refer to another dictionary with the keys "cats", "octopi" and"emus". Make the "cats" key refer to a list of strings with the values "Henri","Grumpy"and "Lucy". Make all the other keys refer to empty dictionaries.

In [28]:
life ={'animals':{'cat':['Henri', 'Grumpy', 'Lucy'], 'octopi':'', 'emus':''},
       'plants' :'',
       'other' :'' }
life

{'animals': {'cat': ['Henri', 'Grumpy', 'Lucy'], 'octopi': '', 'emus': ''},
 'plants': '',
 'other': ''}

### 14. Print the top-level keys of life.

In [29]:
life.keys()

dict_keys(['animals', 'plants', 'other'])

### 15. Print the keys for life["animals"].

In [31]:
life['animals'].keys()

dict_keys(['cat', 'octopi', 'emus'])

### 16. Print the values for life["animals"]["cats"]

In [32]:
life['animals']['cat']

['Henri', 'Grumpy', 'Lucy']